.inter-Resume {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #1379ff;
  --text-color: #727171;
}
html {
  font-size: 10px;
}
body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

/*common styles*/
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}
.title {
  color: var(--primary-color);
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*layouts*/
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}
.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

/*profile*/
.profile_container {
  display: flex;
  gap: 2rem;
}
.profile_profileImg {
  max-width: 200px;
  margin-top: 2rem;
  margin-left: 1rem;
}
.profile_name_firstName {
  color: white;
  font-weight: 200;
  font-size: clamp(2.5rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-top: 5rem;
  margin-bottom: -0.8rem;
}
.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem;
}
.profile_title {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.downloadBtn {
  display: block;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.downloadBtn:hover {
  color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }
}
/*Expertise*/
.skill_list {
  margin-top: 1rem;
  margin-left: 3rem;
  line-height: 2rem;
}
/* Ref */
.ref_item {
  margin-top: 2rem;
}
.ref_name {
  font-size: 1.5rem;
  font-weight: 700;
}
